## Settings file was created by plugin EmployeeAssignments v1.0.8
## Plugin GUID: EmployeeAssignments

[0_HostOnly.0_General]

## The maximum number of players that can be assigned each round.
# Setting type: Int32
# Default value: 10
MaxAssignedPlayers = 10

## The minimum number of players that can be assigned each round.
# Setting type: Int32
# Default value: 1
MinAssignedPlayers = 1

## When this is true all connected players will always get an assignment  each time you land.
# Setting type: Boolean
# Default value: false
AssignAllPlayers = true

[0_HostOnly.1_ScrapRetrieval]

## The reward for completing a Scrap Retrieval Assignment
# Setting type: Int32
# Default value: 100
AssignmentReward = 100

[0_HostOnly.2_HuntAndKill]

## The EnemyNames that are allowed to spawn
# Setting type: String
# Default value: Centipede,Bunker Spider,Hoarding bug,Crawler
KillableEnemyWhitelist = Centipede,Bunker Spider,Hoarding bug,Crawler

## The reward for completing a Hunt And KillReward Assignment
# Setting type: Int32
# Default value: 200
AssignmentReward = 200

[0_HostOnly.3_BrokenValve]

## The reward for completing a Broken Valve Assignment
# Setting type: Int32
# Default value: 100
AssignmentReward = 100